<h2>Add Donor</h2>

<form (ngSubmit)="saveDonor()">
  <label>Name</label>
  <input type="text" [(ngModel)]="donor.name" name="name" required />

  <label>Blood Group</label>
  <input type="text" [(ngModel)]="donor.bloodGroup" name="bloodGroup" required />

  <label>Phone</label>
  <input type="text" [(ngModel)]="donor.phone" name="phone" required />

  <label>Last Donation Date</label>
  <input type="date" [(ngModel)]="donor.lastDonationDate" name="lastDonationDate" />

  <label>Age</label>
  <input type="text" [(ngModel)]="donor.age" name="age" required>

  <label>City</label>
  <input type="text" [(ngModel)]="donor.city" name="city" required>

  <button type="submit">Save Donor</button>
</form>

<p *ngIf="message">{{ message }}</p>